{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <meta name="description" content="This is a blog about various topics.">
      <meta name="keywords" content="django, html, web development">
      {% block title %}
      {% endblock title %}
    </title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
  </head>
  <body>
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
    <div id="sidebar">
      <h2>My Blog</h2>
      <p>This is my blog.</p>
    </div>
  </body>
</html>
