{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% comment %} <meta name="description" content="This is a blog about various topics.">
      <meta name="keywords" content="django, html, web development"> {% endcomment %}
      {% block title %}
        Стандарный Заголовок
      {% endblock title %}
    </title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
  </head>
  <body>
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
    <div id="sidebar">
      <h2>Мой блог</h2>
      <p>Это мой блог.</p>
    </div>
  </body>
</html>
